@import 'inc/settings';

// Utils
@import 'inc/mixins';
@import 'foundation-sites/scss/util/mixins';

// Import everything from autoload folder
@import 'autoload/**/*';

// Plugins
//@import '~@fancyapps/fancybox/dist/jquery.fancybox.min.css';
//@import '~jarallax/src/jarallax.css';

/* -----------------------------------------
  Animation
----------------------------------------- */

@import 'inc/animation';

/* -----------------------------------------
   Slick
----------------------------------------- */
@import 'inc/slick';

/* -----------------------------------------
  WooCommerce
----------------------------------------- */
//@import 'inc/woo';

/* -----------------------------------------
  WordPress Core Classes
----------------------------------------- */
@import 'inc/wp-core';

/* -----------------------------------------
  Global styles
----------------------------------------- */
@import 'inc/global';

/* -----------------------------------------
  Typography / Forms / Inputs / Buttons
----------------------------------------- */
@import 'inc/typography';

/* -----------------------------------------
  Contact Form
----------------------------------------- */
/* basic Gravity Form styles and fixes, if you dont need/use this -
comment or delete styles below */
@import 'inc/gform';

/* -----------------------------------------
  Content Styles
----------------------------------------- */
@import 'inc/content';

/* -----------------------------------------
  Repeatable blocks
----------------------------------------- */
@import 'inc/repeatable-blocks';

/* -----------------------------------------
  Header
----------------------------------------- */
@import 'inc/header';

/* -----------------------------------------
  Sidebar
----------------------------------------- */
@import 'inc/sidebar';

/* -----------------------------------------
  Footer
----------------------------------------- */
@import 'inc/footer';

/* -----------------------------------------
  TMPL: Home page
----------------------------------------- */
@import 'templates/home';

/* -----------------------------------------
  Page: Blog
----------------------------------------- */
@import 'templates/blog';

/* -----------------------------------------
  TMPL: Default page
----------------------------------------- */
@import 'templates/default';

/* -----------------------------------------
  TMPL: Contact page
----------------------------------------- */
@import 'templates/contact';

/* -----------------------------------------
  Home slider
----------------------------------------- */
@import 'autoload/home-slider';

/* -----------------------------------------
  Divi custom blocks
----------------------------------------- */
//@import '../blocks/divi/**/styles.scss';

/* -----------------------------------------
    Elementor Custom Widgets
----------------------------------------- */
//@import '../blocks/elementor/**/styles.scss';

/* -----------------------------------------
   Gutenberg blocks
----------------------------------------- */
//@import '../blocks/gutenberg/**/styles.scss';

/* -----------------------------------------
  Home Hero
----------------------------------------- */
@import 'parts/hero-home';

/* -----------------------------------------
  Section Awards
----------------------------------------- */
@import 'parts/award';

/* -----------------------------------------
  Section Image Text
----------------------------------------- */
@import 'parts/image-text';

/* -----------------------------------------
  Section Newsletter form
----------------------------------------- */
@import 'parts/newsletter-form';

/* -----------------------------------------
  Section Content Block
----------------------------------------- */
@import 'parts/content-block';

/* -----------------------------------------
  Section Testimonials
----------------------------------------- */
@import 'parts/testimonials';

/* -----------------------------------------
  Section CTA
----------------------------------------- */
@import 'parts/cta';

/* -----------------------------------------
  Section Attorneys
----------------------------------------- */
@import 'parts/attorneys';

/* -----------------------------------------
  Section Media
----------------------------------------- */
@import 'parts/media';

/* -----------------------------------------
  Section Practice Areas
----------------------------------------- */
@import 'parts/practice-areas';

/* -----------------------------------------
  Section Guide
----------------------------------------- */
@import 'parts/guides';

/* -----------------------------------------
  Section Blog
----------------------------------------- */
@import 'parts/blog';

/* -----------------------------------------
  Section Map
----------------------------------------- */
@import 'parts/map';

/* -----------------------------------------
  Section FAQ
----------------------------------------- */
@import 'parts/faq';

/* -----------------------------------------
  Section Single Hero
----------------------------------------- */
@import 'parts/single-hero';

/* -----------------------------------------
  Section Attorney Single
----------------------------------------- */
@import 'templates/single';

/* -----------------------------------------
  Template Landing
----------------------------------------- */
@import 'templates/landing';

/* -----------------------------------------
  Template magnet
----------------------------------------- */
@import 'templates/magnet';

/* -----------------------------------------
  Template Calculator
----------------------------------------- */
@import 'templates/calculator';

/* -----------------------------------------
  Template Attorneys
----------------------------------------- */
@import 'templates/attorneys';

/* -----------------------------------------
  Template Testimonials
----------------------------------------- */
@import 'templates/testimonials';

/* -----------------------------------------
  Template FAQ
----------------------------------------- */
@import 'templates/faq';

/* -----------------------------------------
  Template Guides
----------------------------------------- */
@import 'templates/guides';
