.home-attorneys {
  padding: 130px 0 0;
  @include breakpoint(medium down) {
    padding: 70px 40px;
  }
  @include breakpoint(small down) {
    padding: 40px 15px;
  }
  &__item {
    display: flex !important;
    padding: 60px 0;
    @include breakpoint(medium down) {
      flex-direction: column-reverse;
    }
  }
  &__item-content {
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    @include breakpoint(medium down) {
      width: 100%;
      text-align: center;
      p {
        text-align: start;
        margin-bottom: 40px;
      }
    }
  }
  &__item-image {
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    @include breakpoint(medium down) {
      width: 100%;
      margin-bottom: 40px;
    }
    img {
      width: 473px;
      height: 473px;
      object-fit: cover;
      border-radius: 50%;
      box-shadow: 6px 4px 16px 0 #33333361;
      @include breakpoint(medium down) {
        width: 275px;
        height: 275px;
      }
    }
  }
}
.nav-slider {
  position: relative;
  padding: 0 160px 130px;
  @include breakpoint(medium down) {
    padding: 0 0 130px;
    .fluid {
      padding-left: 0;
      padding-right: 0;
    }
  }
  &::before {
    content: '';
    background-color: $green;
    height: 35%;
    width: 100%;
    position: absolute;
    left: 0;
    top: 10%;
  }
  &__nav-item-image {
    position: relative;
    width: 195px;
    height: 195px;
    border-radius: 50%;
    margin: 0 auto;
    @include breakpoint(medium down) {
      width: 170px;
      height: 170px;
    }
  }
  &__nav-item-image img {
    height: inherit;
    width: inherit;
    object-fit: cover;
    display: block;
    margin: 0 auto;
    border-radius: 50%;
    box-shadow: 6px 4px 5px 0 #33333361;
  }
  &__nav-item-image::after {
    content: '';
    display: block;
    width: 100%;
    height: 100%;
    background-color: #11355ce6;
    position: absolute;
    border-radius: 50%;
    top: 0;
    left: 0;
    transition: all 0.3s;
  }

  .slick-arrow {
    &::before {
      opacity: 1;
      font-size: 4rem;
    }
  }
  .slick-next {
    right: -50px;
    width: 30px;
    height: 45px;
    @include breakpoint(medium down) {
      right: 10px;
    }
  }
  .slick-prev {
    width: 30px;
    height: 45px;
    left: -50px;
    @include breakpoint(medium down) {
      left: 10px;
    }
  }
  .slick-current {
    .nav-slider__nav-item-image {
      @include breakpoint(medium down) {
        width: 195px;
        height: 195px;
      }
      &::after {
        content: none;
        transition: all 0.3s;
      }
    }
  }
}
