.home-blog {
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  &__overlay {
    padding: 80px 0;
    height: 100%;
    background-color: rgba($dark-lite-blue, 0.8);
  }
  &__title {
    color: $white;
    margin-bottom: 60px;
  }
  &__list {
    padding: 0 60px;
  }
  &__item {
    display: flex !important;
    padding: 0 30px;
    margin: 0 auto;
    gap: 30px;
    @include breakpoint(medium down) {
      gap: 5px;
      padding: 0 5px 40px;
      flex-direction: column;
    }
  }
  &__date {
    @include breakpoint(medium down) {
      display: flex;
      flex-direction: column;
      align-items: center;
    }
  }
  &__month {
    color: $white;
    font-size: 17px;
    font-weight: 400;
    text-transform: uppercase;
  }
  &__day {
    color: $white;
    font-size: 42px;
    font-weight: 400;
    text-transform: uppercase;
    @include breakpoint(medium down) {
      font-size: 25px;
    }
  }
  &__item-title {
    color: $white;
    font-size: 19px;
    font-weight: 400;
    text-transform: uppercase;
    text-decoration: none;
    margin-bottom: 20px;
    &:hover {
      color: $lite-blue;
    }
  }
  &__text {
    color: $white;
    font-size: 14px;
    font-weight: 400;
    margin-bottom: 40px;
  }
  &__button {
    display: block;
    margin: 0 auto;
  }
}
