.content-block {
  .fluid {
    padding-right: 0;
    padding-left: 0;
  }

  .large-6 {
    @include breakpoint(large up) {
      width: 50%;
      margin-left: 0;
      margin-right: 0;
    }
  }
  &__img {
    border: 1px solid $yellow;
    object-fit: cover;
    height: 100%;
    width: 100%;
    max-height: 600px;
    @include breakpoint(xxlarge up) {
      max-height: 450px;
    }
    @include breakpoint(large down) {
      max-height: 100%;
    }
  }
  &__list {
    background-color: $dark-lite-blue;
    display: flex;
    height: 100%;
    @include breakpoint(1279px down) {
      flex-direction: column;
    }
  }
  &__item {
    padding: 45px 35px;
    border: 1px solid $yellow;
    color: $white;
    p {
      line-height: 24px;
    }
  }
  .second-item {
    background-color: $blue;
  }
  a {
    width: fit-content;
    &:hover {
      color: $dark-lite-blue;
    }
  }
  &__item-title {
    color: $white;
  }
}

.content-block-order {
  order: 1;
  @include breakpoint(large down) {
    order: 0;
  }
}
