.text-image {
  background-color: #f8f8f8;
  padding: 100px 0 35px;
  @include breakpoint(medium down) {
    padding: 40px 45px;
  }
  &__img-wrap {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    @include breakpoint(medium down) {
      margin-bottom: 50px;
    }
  }
  &__img {
    border-radius: 50%;
    object-fit: cover;
    height: 335px;
    width: 335px;
    box-shadow: 6px 4px 16px 0 #33333361;
    @include breakpoint(small down) {
      height: 275px;
      width: 275px;
    }
  }
}
