.practice-areas {
  padding: 125px 0;
  &__item-wrap {
    position: relative;
    &:first-child::after {
      content: '';
      height: 100%;
      width: 2px;
      display: block;
      position: absolute;
      top: -15px;
      right: 0;
      background-color: $yellow;
      @include breakpoint(medium down) {
        content: none;
      }
    }
    &:not(:last-child) {
      @include breakpoint(small down) {
        padding-bottom: 40px;
        border-bottom: 1px solid $yellow;
        margin-bottom: 40px;
      }
    }
  }
  &__item {
    padding: 0 50px;
    margin: 0 auto;
    text-align: center;
    @include breakpoint(small down) {
      h2,
      h3,
      p {
        text-align: start;
      }
    }
  }
}
