.single-hero {
  background-color: #f8f8f8;
  margin-bottom: 10px;
  &__content-wrap {
    padding: 50px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    @include breakpoint(small down) {
      order: 1;
      text-align: center;
    }
  }
  &__title {
    color: $black;
  }
  &__contact {
    display: flex;
    flex-direction: column;
    @include breakpoint(small down) {
      align-items: flex-start;
      margin-bottom: 30px;
      margin-top: 30px;
    }
    a {
      font-weight: 400;
      font-size: 17px;
      color: $dark-lite-blue;
      text-transform: uppercase;
      position: relative;
      padding-left: 35px;
    }
  }
  &__phone {
    margin-bottom: 10px;
    &:hover {
      &::before {
        background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24.301' height='24.301' viewBox='0 0 24.301 24.301'%3E%3Cpath id='reshot-icon-telephone-speaker-Y627SZ8AVG' d='M27.546,33.18l3.572-1.53a5.521,5.521,0,0,0,1.441-.976h0a1.6,1.6,0,0,0,.313-2.193l-.94-.939-2.82-2.821a1.33,1.33,0,0,0-1.88,0l-2.193,2.193a8.772,8.772,0,0,1-8.772-8.77l2.192-2.193a1.329,1.329,0,0,0,0-1.881l-2.82-2.819-.939-.94a1.607,1.607,0,0,0-2.194.314h0a5.528,5.528,0,0,0-.975,1.442L10,15.637A32.322,32.322,0,0,0,27.543,33.183Z' transform='translate(-9.501 -9.382)' fill='%2380bd64' stroke='%2380bd64' stroke-linecap='round' stroke-linejoin='round' stroke-miterlimit='10' stroke-width='1'/%3E%3C/svg%3E%0A");
      }
    }
    &::before {
      content: '';
      background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24.301' height='24.301' viewBox='0 0 24.301 24.301'%3E%3Cpath id='reshot-icon-telephone-speaker-Y627SZ8AVG' d='M27.546,33.18l3.572-1.53a5.521,5.521,0,0,0,1.441-.976h0a1.6,1.6,0,0,0,.313-2.193l-.94-.939-2.82-2.821a1.33,1.33,0,0,0-1.88,0l-2.193,2.193a8.772,8.772,0,0,1-8.772-8.77l2.192-2.193a1.329,1.329,0,0,0,0-1.881l-2.82-2.819-.939-.94a1.607,1.607,0,0,0-2.194.314h0a5.528,5.528,0,0,0-.975,1.442L10,15.637A32.322,32.322,0,0,0,27.543,33.183Z' transform='translate(-9.501 -9.382)' fill='none' stroke='%2380bd64' stroke-linecap='round' stroke-linejoin='round' stroke-miterlimit='10' stroke-width='1'/%3E%3C/svg%3E%0A");
      display: block;
      width: 24px;
      height: 24px;
      background-repeat: no-repeat;
      position: absolute;
      left: 0;
      top: 50%;
      transform: translate(0, -50%);
    }
  }
  &__email {
    &:hover {
      &::before {
        background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='25.715' height='16.599' viewBox='0 0 25.715 16.599'%3E%3Cg id='row3' transform='translate(1.009 0.39)'%3E%3Cg id='icon:3_2_' transform='translate(-0.009 -23.99)' fill='%2380bd64' stroke-linecap='round' stroke-linejoin='round' fill-rule='evenodd'%3E%3Cpath d='M7.355,31.2,0,38.44V25.3ZM.889,24.6l10.968,8.8,10.968-8.8H.889Zm14.6,7.3-3.631,2.909L8.226,31.9.778,39.2h22.14Zm.871-.7,7.355,7.244V25.3Z' stroke='none'/%3E%3Cpath d='M 0.8892974853515625 24.59999847412109 L 11.85732746124268 33.40036010742188 L 22.82535743713379 24.59999847412109 L 0.8892974853515625 24.59999847412109 M -1.9073486328125e-06 25.30402755737305 L -1.9073486328125e-06 38.43972778320312 L 7.355247497558594 31.19563674926758 L -1.9073486328125e-06 25.30402755737305 M 23.71465682983398 25.30402755737305 L 16.35940742492676 31.19563674926758 L 23.71465682983398 38.43972778320312 L 23.71465682983398 25.30402755737305 M 8.226016998291016 31.89966773986816 L 0.77813720703125 39.19933700561523 L 22.91798782348633 39.19933700561523 L 15.48863792419434 31.89966773986816 L 11.85732746124268 34.80841827392578 L 8.226016998291016 31.89966773986816 M 0.8892974853515625 23.59999847412109 L 22.82535743713379 23.59999847412109 C 23.24977684020996 23.59999847412109 23.62796783447266 23.86791610717773 23.76874732971191 24.26830673217773 C 23.77317237854004 24.2808952331543 23.77734184265137 24.29355621337891 23.78124046325684 24.30622482299805 C 23.9062385559082 24.31453323364258 24.03055763244629 24.34639358520508 24.14756774902344 24.402587890625 C 24.49418830871582 24.56905746459961 24.71465682983398 24.91950607299805 24.71465682983398 25.30402755737305 L 24.71465682983398 38.43972778320312 C 24.71465682983398 38.84280776977539 24.47265815734863 39.20647811889648 24.10085678100586 39.36214828491211 C 24.03291320800781 39.39059448242188 23.96305084228516 39.41107559204102 23.89250564575195 39.423828125 C 23.88050270080566 39.47588348388672 23.86421966552734 39.52741241455078 23.84354782104492 39.57794952392578 C 23.68979835510254 39.95378875732422 23.32405662536621 40.19933700561523 22.91798782348633 40.19933700561523 L 0.77813720703125 40.19933700561523 C 0.3718471527099609 40.19933700561523 0.005937576293945312 39.95351791381836 -0.1476516723632812 39.57737731933594 C -0.1686973571777344 39.52583694458008 -0.1851882934570312 39.47323608398438 -0.1972217559814453 39.42013549804688 C -0.2611865997314453 39.40725708007812 -0.3244762420654297 39.38798904418945 -0.3862018585205078 39.36214828491211 C -0.7580032348632812 39.20647811889648 -1.000001907348633 38.84280776977539 -1.000001907348633 38.43972778320312 L -1.000001907348633 25.30402755737305 C -1.000001907348633 24.91950607299805 -0.7795333862304688 24.56905746459961 -0.4329128265380859 24.402587890625 C -0.3159236907958984 24.34640502929688 -0.1915607452392578 24.31454086303711 -0.06658554077148438 24.30622482299805 C -0.06268882751464844 24.29355621337891 -0.0585174560546875 24.2808952331543 -0.0540924072265625 24.26830673217773 C 0.08668708801269531 23.86791610717773 0.4648780822753906 23.59999847412109 0.8892974853515625 23.59999847412109 Z' stroke='%2380bd64' fill='%23ffffff'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E%0A");
      }
    }
    &::before {
      content: '';
      background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='25.715' height='16.599' viewBox='0 0 25.715 16.599'%3E%3Cg id='row3' transform='translate(1.009 0.39)'%3E%3Cg id='icon:3_2_' transform='translate(-0.009 -23.99)' fill='none' stroke-linecap='round' stroke-linejoin='round' fill-rule='evenodd'%3E%3Cpath d='M7.355,31.2,0,38.44V25.3ZM.889,24.6l10.968,8.8,10.968-8.8H.889Zm14.6,7.3-3.631,2.909L8.226,31.9.778,39.2h22.14Zm.871-.7,7.355,7.244V25.3Z' stroke='none'/%3E%3Cpath d='M 0.8892974853515625 24.59999847412109 L 11.85732746124268 33.40036010742188 L 22.82535743713379 24.59999847412109 L 0.8892974853515625 24.59999847412109 M -1.9073486328125e-06 25.30402755737305 L -1.9073486328125e-06 38.43972778320312 L 7.355247497558594 31.19563674926758 L -1.9073486328125e-06 25.30402755737305 M 23.71465682983398 25.30402755737305 L 16.35940742492676 31.19563674926758 L 23.71465682983398 38.43972778320312 L 23.71465682983398 25.30402755737305 M 8.226016998291016 31.89966773986816 L 0.77813720703125 39.19933700561523 L 22.91798782348633 39.19933700561523 L 15.48863792419434 31.89966773986816 L 11.85732746124268 34.80841827392578 L 8.226016998291016 31.89966773986816 M 0.8892974853515625 23.59999847412109 L 22.82535743713379 23.59999847412109 C 23.24977684020996 23.59999847412109 23.62796783447266 23.86791610717773 23.76874732971191 24.26830673217773 C 23.77317237854004 24.2808952331543 23.77734184265137 24.29355621337891 23.78124046325684 24.30622482299805 C 23.9062385559082 24.31453323364258 24.03055763244629 24.34639358520508 24.14756774902344 24.402587890625 C 24.49418830871582 24.56905746459961 24.71465682983398 24.91950607299805 24.71465682983398 25.30402755737305 L 24.71465682983398 38.43972778320312 C 24.71465682983398 38.84280776977539 24.47265815734863 39.20647811889648 24.10085678100586 39.36214828491211 C 24.03291320800781 39.39059448242188 23.96305084228516 39.41107559204102 23.89250564575195 39.423828125 C 23.88050270080566 39.47588348388672 23.86421966552734 39.52741241455078 23.84354782104492 39.57794952392578 C 23.68979835510254 39.95378875732422 23.32405662536621 40.19933700561523 22.91798782348633 40.19933700561523 L 0.77813720703125 40.19933700561523 C 0.3718471527099609 40.19933700561523 0.005937576293945312 39.95351791381836 -0.1476516723632812 39.57737731933594 C -0.1686973571777344 39.52583694458008 -0.1851882934570312 39.47323608398438 -0.1972217559814453 39.42013549804688 C -0.2611865997314453 39.40725708007812 -0.3244762420654297 39.38798904418945 -0.3862018585205078 39.36214828491211 C -0.7580032348632812 39.20647811889648 -1.000001907348633 38.84280776977539 -1.000001907348633 38.43972778320312 L -1.000001907348633 25.30402755737305 C -1.000001907348633 24.91950607299805 -0.7795333862304688 24.56905746459961 -0.4329128265380859 24.402587890625 C -0.3159236907958984 24.34640502929688 -0.1915607452392578 24.31454086303711 -0.06658554077148438 24.30622482299805 C -0.06268882751464844 24.29355621337891 -0.0585174560546875 24.2808952331543 -0.0540924072265625 24.26830673217773 C 0.08668708801269531 23.86791610717773 0.4648780822753906 23.59999847412109 0.8892974853515625 23.59999847412109 Z' stroke='none' fill='%2380bd64'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E%0A");
      display: block;
      width: 26px;
      height: 17px;
      background-repeat: no-repeat;
      position: absolute;
      left: 0;
      top: 50%;
      transform: translate(0, -50%);
    }
  }
  &__thumbnail {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    min-height: 500px;
    display: flex;
    justify-content: flex-start;
    align-items: flex-end;
    position: relative;
  }
  &__thumbnail-image {
    height: 100%;
    width: 100%;
    max-height: 650px;
    object-fit: cover;
    object-position: 53% 16%;
  }
  .qr-code {
    position: absolute;
    left: 30px;
    bottom: 30px;
    border: 1px solid $yellow;
    border-radius: 15px;
  }
}
