.newsletter-form {
  background-color: #80bd64;

  &__form {
    & > .gform_wrapper {
      display: flex;
      @include breakpoint(760px down) {
        flex-direction: column;
        align-items: center;
      }
    }
  }

  &__container {
    padding-top: 15px;
    padding-bottom: 15px;
  }

  .gform_title {
    color: #003864;
    font-size: 30px;
    text-transform: capitalize;
  }

  .gform_description {
    color: #fff;
    font-size: 15px;
  }

  .gform_heading {
    display: flex;
    flex-direction: column;
    flex: 0 0 50%;
    padding: 40px 80px 40px 0;
    @include breakpoint(760px down) {
      padding: 15px 0 40px 0;
    }
  }

  form {
    flex: 0 0 50%;
  }

  #gform_2 {
    background-color: transparent;
    padding: 0;
  }

  #gform_2 #input_2_2_1 {
    top: 0 !important;
    width: 26px;
    height: 26px;
  }

  #gform_2 .gform_footer button {
    background-color: #003864 !important;
    color: #fff;
    border: none;
  }

  #gform_2 .gform_footer #gform_submit_button_2:after {
    background-color: #80bd64;
    width: 65px;
    border: 1px solid #fff;
  }

  #gform_2 .gform_footer #gform_submit_button_2:before {
    right: 20px;
  }

  #input_2_2_1 {
    opacity: 0;
    position: absolute;
  }

  #input_2_2_1 + label {
    position: relative;
    padding-left: 30px !important;
    cursor: pointer;
  }

  #input_2_2_1 + label:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 20px;
    height: 20px;
    border-radius: 4px;
    border: 1px solid #fff;
  }

  #input_2_2_1:checked + label:before {
    background: #fff;
  }

  .gform_confirmation_message {
    color: #fff;
    padding: 30px;
    text-align: center;
  }
}
