.main-content,
.hero-home {
  margin-top: 163px;
  @include breakpoint(medium down) {
    margin-top: 119px;
  }
}

/* 404 page */
.not-found {
  padding-top: 100px;
  padding-bottom: 100px;

  .label {
    background-color: $primary-color;
    text-decoration: none;
    cursor: pointer;

    &:hover {
      background-color: darken($primary-color, 8);
      color: $white;
    }
  }
}
