.footer {
  margin-top: auto;
}

.footer__logo {
  img {
    max-height: 120px;
  }
}

.footer__sp {
  text-align: right;
}

.footer-menu {
  @include list-unstyled;

  text-align: center;

  li {
    display: inline-block;

    a {
      display: block;
      padding: 5px 10px;
    }
  }
}

.footer__copy {
  padding-top: 30px;
  padding-bottom: 25px;
  background-color: $dark-lite-blue;
  font-size: 12px;
  text-align: center;

  p,
  p a {
    color: $white;
    font-size: 19px;
    font-weight: 400;
    text-decoration: none;
    margin-bottom: 5px;
  }
}

.footer-contact {
  .fluid {
    padding-right: 0;
    padding-left: 0;
  }

  &__wrap {
    @include breakpoint(small down) {
      flex-direction: column-reverse;
    }
  }

  &__socials {
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    @include breakpoint(small down) {
      margin-bottom: 65px;
    }
  }

  &__title {
    margin-bottom: 60px;
  }

  p {
    margin-bottom: 40px;
    width: 60%;
  }

  .stay-tuned__link .fab {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 60px;
    height: 60px;
    background-color: $blue;
    border-radius: 50%;

    &::before {
      font-size: 30px;
      color: $white;
    }

    &:hover {
      background-color: $dark-lite-blue;
    }
  }

  &__form {
    padding: 55px 25px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: $green;
    @include breakpoint(small down) {
      background-color: transparent;
    }
  }

  .gform_wrapper {
    @include breakpoint(small down) {
      padding: 25px;
    }

    .gform_fields {
      grid-row-gap: 0 !important;
    }

    .gform_title {
      text-transform: inherit !important;
      font-size: 36px !important;
      margin-bottom: 40px !important;
      @include breakpoint(small down) {
        text-align: center;
        font-size: 17px !important;
      }
    }
  }

  #field_1_1 {
    grid-column: span 12 !important;
  }

  #field_1_4,
  #field_1_5 {
    grid-column: span 6 !important;
    @include breakpoint(small down) {
      grid-column: span 12 !important;
    }
  }
}

.fab.fa-twitter:before {
  display: block;
  color: transparent !important;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 512 512'%3E%3C!--!Font Awesome Free 6.5.1 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license/free Copyright 2024 Fonticons, Inc.--%3E%3Cpath fill='%23ffffff' d='M389.2 48h70.6L305.6 224.2 487 464H345L233.7 318.6 106.5 464H35.8L200.7 275.5 26.8 48H172.4L272.9 180.9 389.2 48zM364.4 421.8h39.1L151.1 88h-42L364.4 421.8z'/%3E%3C/svg%3E");
}
