.sidebar {
  @include breakpoint(small down) {
    padding-top: 50px;
    border-top: 1px solid $yellow;
  }
  position: relative;
  .more-arrow {
    display: none;
    cursor: pointer;
    @include breakpoint(small down) {
      display: none;
    }
  }
  .more-arrow-active {
    display: block;
    position: absolute;
    bottom: -10px;
    left: 45%;
    z-index: 2;
    i {
      color: $green;
      font-size: 45px;
    }
  }
  .arrow-up {
    transform: rotate(180deg);
    bottom: -50px;
  }
}

.widget {
  margin-bottom: 20px;

  &:last-child {
    margin-bottom: 0;
  }
}
.custom-sidebar {
  text-align: center;
  width: 325px;
  margin: 0 auto;
  transition: all 0.5s;
  @include breakpoint(medium down) {
    width: 100%;
  }
  &__form {
    padding-bottom: 40px;
    border: 1px solid $white;
    @include breakpoint(small down) {
      display: none;
    }
    .gform_wrapper {
      padding: 25px;
    }
    .gform_wrapper.gravity-theme .gform_fields {
      grid-row-gap: 0 !important;
    }
    .gform_wrapper.gravity-theme .gfield.gfield--width-third {
      grid-column: span 12 !important;
    }
  }
  &__content {
    img {
      margin: 0 auto;
    }
  }
  &__content-title {
    padding: 40px 20px 20px 20px;
  }
  &__button {
    white-space: normal;
    width: 100%;
  }
}
.sidebar-more {
  overflow: hidden;
  &::after {
    content: '';
    background: rgb(255, 255, 255);
    background: linear-gradient(
      0deg,
      rgba(255, 255, 255, 1) 26%,
      rgba(255, 255, 255, 0.48783263305322133) 85%,
      rgba(255, 255, 255, 0) 100%
    );
    display: block;
    width: 100%;
    position: absolute;
    height: 80px;
    bottom: 0;
    z-index: 1;
  }
}
