/* ---------------------------------------
	Typography
--------------------------------------- */

h1,
h2,
h3,
h4,
h5,
h6,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6 {
  a {
    color: inherit;
  }
}

h1,
.h1 {
  /* basic heading styles */
  font-size: 50px;
  font-weight: 400;
  font-family: $font;
  color: $white;
  line-height: 55px;
  @include breakpoint(small down) {
    font-size: 39px;
  }
}

h2,
.h2 {
  /* basic heading styles */
  font-size: 36px;
  font-weight: 400;
  font-family: $font;
  text-transform: uppercase;
}

h3,
.h3 {
  /* basic heading styles */
  font-size: 28px;
  font-weight: 400;
  font-family: $font;
  text-transform: uppercase;
  letter-spacing: 1px;
  color: $black;
}

h4,
.h4 {
  /* basic heading styles */
  font-size: 21px;
  color: $black;
  text-transform: uppercase;
}

h5,
.h5 {
  /* basic heading styles */
  color: $black;
  text-transform: uppercase;
}

h6,
.h6 {
  /* basic heading styles */
}

p {
  /* basic paragraph styles */
  line-height: 23px;
  &:empty {
    display: none;
  }

  a {
    text-decoration: underline;
  }
}

ul {
  /* basic list styles */
  font-size: inherit;

  li {
    /* basic list-item styles */
  }
}

address {
  font-style: normal;
  margin-bottom: $global-margin;
}

a {
  color: $primary-color;
  transition: all 0.2s ease-in-out;

  &:hover,
  &:focus {
    /* basic hover and focus effects */
    color: darken($primary-color, 20);
  }
}

.home .content-block__item a {
  color: #ffffff;
}

/* ---------------------------------------
	Tiny MCE formats
--------------------------------------- */

.text-large {
  font-size: 125%;
}

.text-align-justify {
  text-align: justify;
}

/* ---------------------------------------
	Tables
--------------------------------------- */
table {
  margin-bottom: 1rem;

  th,
  td {
    border: $table-border;
    padding: 0.75rem;
  }
}

/* ---------------------------------------
	Forms/Inputs
--------------------------------------- */

.no-outline {
  button,
  a,
  [tabindex] {
    outline: none;
  }
}

/* Placeholder styling */

input,
textarea {
  &::placeholder {
    opacity: 1;
  }
}

/* Input Styling */

[type='color'],
[type='date'],
[type='datetime-local'],
[type='datetime'],
[type='email'],
[type='month'],
[type='number'],
[type='password'],
[type='search'],
[type='tel'],
[type='text'],
[type='time'],
[type='url'],
[type='week'],
textarea,
select,
.select-styled {
  $height: ($input-font-size * unitless-calc($input-line-height)) +
    (get-side($input-padding, 'top') + get-side($input-padding, 'bottom')) +
    rem-calc(get-border-value($input-border, 'width') * 2);

  /* STYLES GO THERE */
  height: $height;
  margin-bottom: 0;
}

textarea[rows] {
  /* Styles for TextArea */
  height: 150px;
  max-width: 100%;
}

[type='number'] {
  -moz-appearance: textfield;
}

[type='number']::-webkit-inner-spin-button,
[type='number']::-webkit-outer-spin-button {
  margin: 0;
  -webkit-appearance: none;
}

[type='checkbox'],
[type='file'],
[type='radio'] {
  margin-bottom: 0;
}

button,
.button,
input[type='submit'],
input[type='reset'],
input[type='button'] {
  border-width: $button-hollow-border-width;
  transition: all 0.2s ease-in-out;
  text-decoration: none;

  //&:hover,
  //&:focus {
  //}
}

/* Button additional styles */

.button {
  font-size: 17px;
  font-weight: 600;
  font-family: $font;
  padding: 15px;
  color: $white;
  background-color: $blue;
  margin: 0;
  white-space: nowrap;
  text-transform: uppercase;
  text-align: center;
  width: 240px;
  transition: all 0.3s;
  position: relative;
  overflow: hidden;
  z-index: 1;
  display: inline-block;
  @include breakpoint(small down) {
    width: 100%;
  }
  &:after {
    position: absolute;
    content: '';
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    background: $dark-lite-blue;
    border-top-right-radius: 35px;
    border-bottom-right-radius: 35px;
    transition: all 0.35s;
    z-index: -1;
  }
  &:hover {
    color: $white;
    background-color: $dark-lite-blue;
    &:after {
      width: 110%;
    }
  }
}
.button-green {
  background-color: $green;
  &:after {
    background-color: darken($green, 10);
  }
  &:hover {
    background-color: $green;
  }
}
.buttton-border {
  border: 2px solid $white;
}
.read-more {
  font-size: 17px;
  font-weight: 600;
  font-family: $font;
  padding: 15px;
  color: $white;
  background-color: transparent;
  margin: 0;
  white-space: nowrap;
  text-transform: uppercase;
  border: 2px solid $white;
  width: 240px;
  display: block;
  text-align: center;
  @include breakpoint(small down) {
    width: 100%;
  }
  &:hover {
    color: $dark-lite-blue;
  }
  &:after {
    background-color: $white;
  }
}
