/* ---------------------------------------
	Blog page
--------------------------------------- */

.preview {
  margin-bottom: 20px;
  padding-bottom: 50px;

  @include breakpoint(large up) {
    border-bottom: 1px solid $medium-gray;
    &:nth-child(even) {
      .blog-thumbnail {
        order: 1;
      }
      .blog-date {
        order: -1;
      }
    }
  }
}

.preview__meta {
  margin-top: 20px;
  margin-bottom: 0;
  color: $dark-gray;
  font-size: 14px;
}

.preview__thumb {
  border-radius: 50%;
  width: 245px;
  height: 245px;
  object-fit: cover;
  box-shadow: 3px 2px 10px 0 #33333354;
  @include breakpoint(small down) {
    margin-bottom: 20px;
  }
}
.preview__title {
  line-height: 36px;
}
/* ---------------------------------------
	Post / Page inner view
--------------------------------------- */

.entry__thumb {
  margin-bottom: 20px;
}

.entry__meta {
  color: $dark-gray;
  font-size: 14px;
}

.entry__cat {
  margin-top: 20px;
}

.posts-list-wrap {
  padding: 50px 50px 50px 0;
  border-right: 1px solid $yellow;
  @include breakpoint(small down) {
    border-right: none;
    padding: 50px 0;
  }
}
.post-item {
  align-items: center;
}
.blog-thumbnail-wrap {
  display: flex;
  align-items: center;
  justify-content: space-around;
  @include breakpoint(medium down) {
    flex-direction: column;
  }
}
.blog-date {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.blog-date-month {
  text-transform: uppercase;
  font-weight: 400;
}
.blog-date-day {
  font-weight: 400;
  font-size: 36px;
}
