/* ---------------------------------------
	TMPL: Default
--------------------------------------- */
.page-hero {
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;

  &__overlay {
    padding: 70px 0;
    display: flex;
    justify-content: flex-start;
    align-items: flex-end;
    background: rgb(0, 56, 100);
    background: linear-gradient(
      90deg,
      rgba(0, 56, 100, 1) 0%,
      rgba(0, 56, 100, 0.865983893557423) 41%,
      rgba(0, 56, 100, 0.35898109243697474) 100%
    );
    min-height: 340px;
    height: 100%;
    @include breakpoint(small down) {
      background: rgba(0, 56, 100, 0.8);
    }
  }
}

.page-title-no-bg {
  color: $black;
  padding-top: 30px;
  @include breakpoint(1241px down) {
    margin-top: 55px;
  }
}

.page,
.blog,
.search-results {
  .sidebar {
    margin-top: -165px;
    @include breakpoint(medium down) {
      margin-top: 50px;
    }
  }

  .page-no-bg {
    margin-top: 0;
  }
}

.table-of-contents {
  background-color: $dark-lite-blue;
  position: relative;
  //margin-top: 70px;
  margin-top: 0;
  margin-bottom: 35px;

  &__title {
    color: $white;
    padding: 10px;
    cursor: pointer;
    background-color: $green;
    text-align: center;

    i {
      transition: all 0.3s;
    }
  }

  .content-active i {
    transform: rotate(180deg);
  }

  &__list {
    flex-direction: column;
    background-color: #fff;
    position: absolute;
    width: 100%;
    top: 50px;
    left: 0;
    margin-left: 0;
    display: none;
    padding: 20px;
    box-shadow: 5px 5px 15px 3px rgba(0, 0, 0, 0.2);
  }

  &__item {
    padding: 10px 0;
    margin-left: 15px;

    a {
      color: $black;
      font-weight: 600;
    }

    &:not(:last-child) {
      border-bottom: 1px solid #3333332e;
    }
  }
}
