.page-template-template-testimonial {
  .template-testimonials {
    padding: 50px;
    border-right: 2px solid $yellow;
    @include breakpoint(small down) {
      border-right: none;
    }
  }

  .testimonials__item {
    text-align: center;
    margin-bottom: 40px;

    p {
      width: 100%;
      padding: 0;
      font-size: 16px;
    }

    #google-initial {
      width: 75px;
      height: 75px;
    }

    svg {
      margin: 0 0 -6px 0;
    }
  }
}

.testimonials__bottom-text {
  margin: 45px 0 0 0;
}

.testimonials__author {
  margin: 15px 0 0 0;
  display: inline-block;
}
